.App {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  background: linear-gradient(45deg, #a8edea, #fed6e3);


}
.header{
  padding: 5px 0;
  display: flex;
  justify-content: center;  
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.footer{
  display: flex;
  justify-content: center
}

.alignCenter{
  align-self: center;
}