.App {
  display: grid;
  grid-template-rows: 50px 1fr 80px;
  background-color: rgba(130, 107, 196, 0.445) ;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.footer{
  display: flex;
  justify-content: center
}