button{
  font-family: Balsamiq Sans;
  font-weight: 400;
}
.App{
  font-family: Balsamiq Sans;
  font-weight: 400;
}

.Mesenger{
  font-family: Balsamiq 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}