.cards {
  min-height: calc(100vh);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  &.dragOver {
    background-color: rgba(128, 128, 128, 0.767);
    & > * {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.input-file {
  margin: 1em auto 0 auto;
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #1bbc9c00;
  color: rgb(0, 0, 0);
  font-weight: 700;

  display: flex;
  cursor: pointer;

  &.file {
    &::after {
      content: "Выберите звуковой файл";
    }
  }
  &.photo {
    &::after {
      content: "Выберите логотип";
    }
  }
}
